*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    
    
}
body
{
margin: 0;
padding: 0;
font-family: sans-serif;
background-color: black;
}

.submit-btn{
    margin-top: 5px;
    background-color: pink;
    margin-bottom: 5px;
}
.table-container{
    max-height: 500px;
    overflow-y: auto;
    border-radius: 10px;
}
.result-table{
    border-radius: 10px;
}

h1{
        color: white;
        margin-left: 60px;
        margin-top: 80px;

}
@media (max-width: 991px)
{
    h1{
        margin-top: 20px;
        margin-left: 0px;
        margin-right: 0px;

    }

}
